<div class="table-container shadow-lg p-3 mb-5 bg-white rounded">
  <div class="table-responsive">
    <table
      class="table table-hover table-bordered table-striped custom-table"
      id="clientDataGrid"
    >
      <thead class="thead-light">
        <tr>
          <th>ID</th>
          <th>Client</th>
          <th>Phone Number</th>
          <th>BED</th>
          <th>EED</th>
        </tr>
      </thead>
      <tbody>
        <tr
          ng-repeat="reservation in reservations | filter:{clientName: selectedClient} | filter:{phoneNumber: selectedPhoneNumber}"
          ng-dblclick="openDeleteModal(reservation)"
        >
          <td>{{reservation.id}}</td>
          <td>{{reservation.clientName}}</td>
          <td>{{reservation.phoneNumber}}</td>
          <td>{{reservation.bed}}</td>
          <td ng-if="reservation.eed === null"></td>
          <td ng-if="reservation.eed !== null">{{reservation.eed}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
