<nav-bar></nav-bar>
<div class="container my-5 text-center">
  <h1 class="mb-4">Control panel</h1>
  <div class="tab-container">
    <a href="#/devices" class="tab-item" data-description="View Devices">
      <span>Devices</span>
      <div class="tab-description">
        <i class="fa-solid fa-mobile-screen-button"></i> <br />Manage Devices
      </div>
    </a>
    <a href="#/clients" class="tab-item" data-description="Manage Clients">
      <span>Clients</span>
      <div class="tab-description">
        <i class="bi bi-people-fill"></i><br />
        Manage Clients And Phone Numbers Reservations
      </div>
    </a>
    <a
      href="#/phone-numbers"
      class="tab-item"
      data-description="Explore Phone Numbers"
    >
      <span>Phone Numbers</span>
      <div class="tab-description">
        <i class="bi bi-telephone-fill"></i><br />Manage Phone Numbers
      </div>
    </a>
    <a
      href="#/reservations"
      class="tab-item"
      data-description="Manage Reservations"
    >
      <span>Reservations</span>
      <div class="tab-description">
        <i class="bi bi-journal-bookmark-fill"></i> <br />View Client
        Reservations
      </div>
    </a>
    <a
      href="#/reports/client-types-stats"
      class="tab-item"
      data-description="View Client Statistics"
    >
      <span>Client Stats</span>
      <div class="tab-description">
        <i class="bi bi-person-lines-fill"></i> <br />View Client Statistics
      </div>
    </a>
    <a
      href="#/reports/device-stats"
      class="tab-item"
      data-description="View Device Statistics"
    >
      <span>Device Stats</span>
      <div class="tab-description">
        <i class="bi bi-reception-3"></i><br />View Device Statistics
      </div>
    </a>
  </div>
</div>
