<div class="table-container shadow-lg p-3 mb-5 bg-white rounded">
  <div class="table-responsive">
    <table class="table table-hover table-bordered table-striped custom-table" id="dataGrid">
      <thead class="thead-light">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat-start="device in devices">
          <td>{{device.id}}</td>
          <td ng-click="toggleDrillDown(device)" style="cursor: pointer;">
            {{device.name}}
          </td>
          <td>
            <div aria-label="Device Actions" class="">
              <button class="btn btn-outline-warning btn-sm rounded-pill" ng-click="editDevice(device)" data-bs-toggle="modal" data-bs-target="#editModal">
                <i class="bi bi-pencil"></i> &nbsp; Edit
              </button>
              <button class="btn btn-outline-danger btn-sm rounded-pill" hidden disabled ng-click="showDeleteConfirmation(device.id)" ng-disabled="device.isAssigned">
                <i class="fa-regular fa-trash-can"></i>
                Delete
              </button>
            </div>
          </td>
        </tr>
        <tr ng-repeat-end ng-if="device.showDrillDown" class="drill-down-row">
          <td colspan="3">
            <div>
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th>Phone Number Id</th>
                    <th>Number</th>
                    <th>Reservation Status</th>  
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="obj in assignedPhoneNumbersMap[device.id]">
                    <td>{{obj.id}}</td>
                    <td>{{obj.number}}</td>
                    <td>
                      <span ng-if="obj.isReserved" class="badge bg-success">Reserved</span>
                      <span ng-if="!obj.isReserved" class="badge bg-danger">UnReserved</span>
                    </td>  
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
        
      </tbody>
    </table>
  </div>
</div>
