<div
  class="modal fade"
  id="editModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="editModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editModalLabel">Edit Client</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form id="editEntryForm" ng-submit="saveChanges()">
          <div ng-show="errorMessage" class="alert alert-danger">
            {{errorMessage}}
          </div>
          <div class="mb-3">
            <label for="editNameInput" class="form-label">Name</label>
            <input
              type="text"
              ng-model="$parent.selectedClientToEdit.name"
              class="form-control"
              id="editNameInput"
              autocomplete="off"
              required
            />
          </div>
          <div class="mb-3">
            <label for="editTypeInput" class="form-label">Type</label>
            <input
              type="text"
              class="form-control"
              id="editTypeInput"
              ng-value="$parent.selectedClientToEdit.type === 1 ? 'Individual' : 'Organization'"
              disabled
            />
          </div>
          <div class="mb-3" ng-if="$parent.selectedClientToEdit.type === 1">
            <label for="editBirthDateInput" class="form-label"
              >Birth Date</label
            >
            <input
              type="date"
              class="form-control"
              id="editBirthDateInput"
              ng-model="$parent.selectedClientToEdit.birthDate"
              ng-disabled="$parent.selectedClientToEdit.type == 2"
              autocomplete="off"
              required
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cancel
            </button>
            <button type="submit" class="btn btn-warning">Save Changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
