<!-- Unreserve Modal -->
<div
  class="modal fade"
  id="unreserveModal"
  tabindex="-1"
  aria-labelledby="unreserveModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="unreserveModalLabel">Confirm Unreserve</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <select class="form-control" ng-model="$parent.selectedPhoneNumberId" required>
          <option value="">Select A Phone Number</option>
          <option
            ng-repeat="phoneNumber in reservedPhoneNumbers"
            value="{{phoneNumber.phoneNumberId}}"
          >
            {{phoneNumber.number}}
          </option>
        </select>
        <p ng-if="$parent.selectedPhoneNumberId" class="text-danger mt-2">
          Are you sure you want to unreserve this phone number?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-primary"
          ng-click="confirmUnReserve()"
          ng-disabled="!$parent.selectedPhoneNumberId"
        >
          Confirm
        </button>
      </div>
    </div>
  </div>
</div>
