<nav-bar></nav-bar>
<div ng-init="fetchAllClients()">
  <div class="container my-5">
    <page-header page-title="Clients"></page-header>
    <div class="d-flex justify-content-start my-3">
      <div class="row g-3 align-items-center col-12">
        <!-- Filter by Name -->
        <div class="d-flex col-5 rounded-pill">
          <div class="form-outline" data-mdb-input-init>
            <input
              type="search"
              id="searchInput"
              ng-model="searchInput"
              ng-keypress="handleEnterKeyPress($event)"
              class="form-control rounded-pill"
              style="background-color: rgb(195, 206, 223)"
              placeholder="Search for a client..."
              autocomplete="off"
            />
            <label class="form-label" for="form1">Search</label>
          </div>
          <button
            class="btn btn-primary ms-2 rounded-pill d-flex align-items-center"
            ng-click="handleSearchResults()"
          >
            <i class="bi bi-search"></i>
          </button>
        </div>

        <!-- Filter by Type -->
        <div class="col-md-3">
          <client-type-selector model="selectedType" clients="clients" filtered-clients="filteredClients"></client-type-selector>
        </div>

        <div class="col-4 d-flex justify-content-end">
          <button
            id="addBtn"
            class="btn btn-outline-info d-flex align-items-center rounded-pill"
            data-bs-toggle="modal"
            data-bs-target="#addModal"
          >
            + New Client
          </button>
        </div>
      </div>
    </div>

    <!-- Clients Data Table -->
    <div class="table-container shadow-lg p-3 mb-5 bg-white rounded">
      <div class="table-responsive">
        <table
          class="table table-hover table-bordered table-striped custom-table"
          id="clientDataGrid"
        >
          <thead class="thead-light">
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Type</th>
              <th>Birth Date</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="client in filteredClients">
              <td>{{client.id}}</td>
              <td>{{client.name}}</td>
              <td>{{client.type === 1 ? 'Individual' : 'Organization'}}</td>
              <td ng-if="client.type === 1">
                {{client.birthDate | date: 'yyyy-MM-dd'}}
              </td>
              <td ng-if="client.type === 2">
                <i class="fa-solid fa-ban"></i>
              </td>

              <td>
                <div aria-label="Client Actions" class="">
                  <button
                    class="btn btn-outline-warning btn-sm rounded-pill"
                    ng-click="handleEditClient(client)"
                    data-bs-toggle="modal"
                    data-bs-target="#editModal"
                  >
                    <i class="bi bi-pencil"></i> &nbsp; Edit
                  </button>
                  <button
                    class="btn btn-outline-success btn-sm rounded-pill"
                    data-bs-toggle="modal"
                    data-bs-target="#reservationModal"
                    ng-click="handleReservePhoneNumber(client)"
                  >
                    Reserve
                  </button>
                  <button
                    class="btn btn-outline-danger btn-sm rounded-pill"
                    ng-if="client.isActive === true"
                    data-bs-toggle="modal"
                    data-bs-target="#unreserveModal"
                    ng-click="handleUnReservePhoneNumber(client.id)"
                  >
                    UnReserve
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div ng-include="'views/clients/clients-partials/editModal.html'"></div>
<div ng-include="'views/clients/clients-partials/reservationModal.html'"></div>
<div ng-include="'views/clients/clients-partials/addModal.html'"></div>
<div ng-include="'views/clients/clients-partials/unreserveModal.html'"></div>
